# This is a direnv configuration (see README).

# Add directories to bash path, with ascending priority.
PATH_add script
PATH_add bin

source_up # Source .envrc in parent folder.

export SCHEMA=db/schema.rb # workaround for https://github.com/thuss/standalone-migrations/issues/169
